.dialog-change-password {
  .p-dialog-header {
    padding: 16px;
  }
  .p-dialog-content {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    .form-group{
      flex: 1;
      input {
        width: 100%;
      }
    }
   
  }
}
