.blog-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .image-content {
    width: 800px;
    height: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .desc-content {
  }
}
