.p-organizationchart {
  .p-person {
    padding: 0;
    border: 0 none;
  }
  .node-header {
    padding: 0.5em 0.7rem;
    background-color: #495ebb;
    color: #ffffff;
    font-variant: all-petite-caps;
    font-weight: bold;
  }
  .node-content {
    padding: 0.5em 0.7rem;
    text-align: center;
    border: 1px solid #495ebb;
    img {
      border-radius: 50%;
    }
  }
  .department-cfo {
    background-color: #4272d7;
    color: #ffffff;
    font-variant: all-petite-caps;
    font-weight: bold;
  }
  .department-coo {
    background-color: #a534b6;
    color: #ffffff;
  }
  .department-cto {
    background-color: #e9286f;
    color: #ffffff;
  }
}
