.login-page{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    .content{
        background: white;
        display: flex;
        padding: 30px 30px 20px;
        border-radius: 8px;
        flex-direction: column;
        width: 540px;
        &-title{
            color: black;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            margin: 0px 0px 8px 0px;
        }
        form{
            display: flex;
            flex: 1;
            flex-direction: column;
            >*{
                margin: 8px 0px ;
            }
        }
    }
}