:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ::ng-deep {
    .p-password {
      width: 100%;
    }
  }
}
.login-container {
  width: 40%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  border-radius: 4px;
  padding: 16px 8px;
  h2.title {
    align-self: center;
  }
  .input-container,
  .divider,
  button {
    margin: 0px 8px;
  }
  .input-container {
    margin-bottom: 8px;
    margin-top: 8px;
    &.check-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: var(--red);
        cursor: pointer;
      }
    }
    .err-message {
      margin-top: 4px;
      background-color: #f2dede;
      padding: 8px;
      border-radius: 4px;
      color: #a94442;
    }
    .custom-password {
      width: 100%;
    }

    p {
      margin-bottom: 8px;
      span {
        color: red;
      }
    }
  }
  .btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    margin: 8px;
    margin-top: 0px;
    cursor: pointer;
    .icon {
      width: 48px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
    }
    &.facebook {
      background-color: #4272d7;
      margin-bottom: 16px;
      i {
        color: #4272d7;
      }
    }
    &.google {
      background-color: #d94921;
      i {
        color: #d94921;
      }
    }
    p {
      flex: 1;
      text-align: center;
      color: white;
    }
  }
  button {
    margin-top: 8px;
    &.btn-facebook {
      background-color: #4272d7;
      border-color: #4272d7;
    }
  }
  .footer {
    text-align: center;
    span {
      font-weight: bold;
      cursor: pointer;
      color: var(--red);
    }
  }
}
