<!-- <p>Login works</p>
<h4>status: {{ status$ | async }}</h4> -->

<div class="login-container p-shadow-3">
  <h2 class="title">Keep Exploring</h2>
  <form [formGroup]="loginForm" #form="ngForm">
    <div class="input-container">
      <p>Username/Email<span> *</span></p>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input
          type="text"
          formControlName="username"
          name="username"
          [(ngModel)]="user.username"
          pInputText
          placeholder="Username or Email Address"
        />
      </div>
      <div class="err-message" *ngIf="getErrorValidation('username')">
        {{ getErrorValidation("username") }}
      </div>
    </div>

    <div class="input-container">
      <p>Password<span> *</span></p>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input
          type="password"
          formControlName="password"
          [(ngModel)]="user.password"
          pInputText
          placeholder="Password"
        />
      </div>
      <div class="err-message" *ngIf="getErrorValidation('password')">
        {{ getErrorValidation("password") }}
      </div>
    </div>
  </form>
  <div class="input-container check-box">
    <div class="check-box">
      <p-checkbox
        [(ngModel)]="isRemember"
        [binary]="true"
        inputId="binary"
      ></p-checkbox>
      <label for="binary">&nbsp; Remember Me</label>
    </div>
    <h3>Forgotten Password?</h3>
  </div>
  <button
    pButton
    type="button"
    [disabled]="!loginForm.valid ? true : false"
    (click)="signIn()"
    label="SIGN IN"
  ></button>
  <p-divider class="divider"></p-divider>
  <div class="btn-social facebook p-shadow-3" pRipple>
    <div class="icon">
      <i class="pi pi-facebook"></i>
    </div>
    <p>SIGN IN WITH FACEBOOK</p>
  </div>
  <div class="btn-social google p-shadow-3" pRipple>
    <div class="icon">
      <i class="pi pi-google"></i>
    </div>
    <p>SIGN IN WITH GOOGLE</p>
  </div>
  <p-divider></p-divider>
  <p class="footer">
    Don't you have account? <span (click)="signUp()">Sign Up Here</span>
  </p>
</div>
