.app {
  background-color: #e5e5e5;
  display: flex;
  flex: 1;
  min-height: 100vh;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4272d7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
