.drawer-container {
  .drawer-root {
    @media (min-width: 600px) {
      .makeStyles-drawerClose-11 {
        width: 60px;
      }
    }
    .makeStyles-drawerOpen-14 {
      .makeStyles-toolbar-16 {
        justify-content: flex-end;
      }
    }
    .makeStyles-drawerClose-15 {
      .makeStyles-toolbar-16 {
        justify-content: flex-start;
      }
    }
  }
  .header-toolbar {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
  }
}
